body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
  }
  
  .navbar {
    background-color: #8B0000;
  }
  
  .navbar-brand,
  .nav-link {
    color: white !important;
  }
  
  .hero {
    background: url('../imágenes/fondo.png') no-repeat center center;
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px #000;
  }
  